@import '../../../colors.scss';

.tabGroup {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-tab-group{
    width: 80vw;
    max-height: 75vh;
    overflow: auto;
    table {
      width: 100%;
      .more {
        background: $solid;
      }
    }
  }

  #addBtn {
    background: $light;
  }

  .noData {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tableFooter {
    z-index: 1;
    margin: -20px;
    width: 75vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

