@import '../../../colors.scss';

.tabGroup {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-tab-group{
    width: 80vw;
    max-height: 75vh;
    overflow: auto;
    table {
      width: 100%;
      .more {
        background: $solid;
      }
    }
  }

  .mat-header-cell {
    font-weight: bold;
    font-size: 14px;
    color: black;
  }

  .mat-header-row {
    background: #00acb525;
  }

  #addBtn {
    background: $light;
  }

  .noData {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tableFooter {
    z-index: 1;
    margin: -20px;
    width: 75vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    button {
      margin: 10px 5px 0px 50px;
    }
  }
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
