@import '../colors.scss';

header{
  display: flex;
  justify-content: center;
  align-items: center;
  background: $light;
  min-height: 10vh;
  h1{
    margin: 0.8em;
    cursor: pointer;
    color: $lightest;
    font-size: xx-large;
    font-family: 'Roboto Slab', serif;
  }
}