<div class="userDetails">
  <h2 *ngIf="userType === 0">Vista de detalle de paciente</h2>
  <h2 *ngIf="userType === 1">Vista de detalle de profesional</h2>
  <mat-card class="userCard">
    <div class="content" *ngIf="userType === 0 || userType === 1; else loading">
      <mat-card-header>
        <mat-card-title>{{user?.name}} {{user?.lastName}} {{user?.secondLastName}}</mat-card-title>
        <mat-card-subtitle>
          <p *ngIf="userType === 0"><span>NHC:</span> {{user?.NHC}}</p>
          <div class="subtitle">
            <p *ngIf="userType === 1"><span>Nº Colegiado:</span> {{user?.medicalBoardNumber}}</p>
            <p *ngIf="userType === 1"><span>Tipo de profesional:</span> {{user?.professionalType}}</p>
          </div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-content>
        <h3>Datos personales</h3>
        <div class="firstRow">
          <p><span>NIF o Pasaporte</span> {{user?.idNumber}}</p>
          <p><span>Fecha de nacimiento</span> {{user?.birthdate | date: 'd MMM. y'}}</p>
          <p><span>Género</span> {{user?.gender}}</p>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <h3>Dirección</h3>
        <div class="addressRow">
          <p><span>Calle</span> {{user?.address?.street}}</p>
          <p><span>Número</span> {{user?.address?.number}}</p>
          <p><span>Puerta</span> {{user?.address?.door}}</p>
          <p><span>Código postal</span> {{user?.address?.postalCode}}</p>
          <p><span>Ciudad</span> {{user?.address?.city}}</p>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <div class="insuranceList" *ngIf="userType === 0">
          <h3>Listado de aseguradoras</h3>
          <div class="insurance" *ngFor="let insurance of user?.insurance">
            <p><span>Nº tarjeta</span> {{insurance.cardNumber}}</p>
            <p><span>Aseguradora</span> {{insurance.name}}</p>
            <p><span>Tipo de seguro</span> {{insurance.type}}</p>
          </div>
          <p *ngIf="!user?.insurance?.length">No hay aseguradoras para este paciente</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="backBtn">
          <button mat-stroked-button routerLink='/' type="button">
            <mat-icon>arrow_back_ios</mat-icon> Atrás
          </button>
        </div>
        <button mat-raised-button color="primary" (click)="editUser(user)">Editar</button>
        <button mat-raised-button color="warn" (click)="deleteUser(user)">Eliminar</button>
      </mat-card-actions>
    </div>
    <ng-template #loading>
      <div id="loading">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card>
</div>